<div class="contenedor">
    <div>
        <h1>ELIMINAR</h1>
        <div class="row g-3 align-items-center mt-2">
            <div class="col-auto">
                <label for="" class="col-form-label">Codigo inventario</label>
            </div>
            <div class="col-auto">
                <input type="text" id="" class="form-control" aria-describedby="passwordHelpInline">
            </div>
            <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">
                    Información adicional
                </span>
            </div>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto mt-3">
            <button class="btn btn-primary" type="button">Button</button>
        </div>
    </div>
</div>