<h1>info alimentos</h1>
<div class="row align-items-center">
    <img src="https://cdn.pixabay.com/photo/2015/05/04/10/16/vegetables-752153_960_720.jpg" alt=""
        class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
    <p class="col-md-6 offset-md-0">
        <!-- Tomado de wikipedia-->
        Alimento es cualquier sustancia consumida para proporcionar apoyo nutricional a un ser vivo. Los alimentos
        suelen ser de origen vegetal, animal o fúngico y contienen nutrientes esenciales, como carbohidratos, grasas,
        proteínas, vitaminas o minerales. La sustancia es ingerida por un organismo y asimilada por las células del
        organismo para proporcionar energía, mantener la vida o estimular el crecimiento. Las diferentes especies de
        animales tienen diferentes comportamientos de alimentación que satisfacen las necesidades de sus metabolismos
        únicos, a menudo evolucionados para llenar un nicho ecológico específico dentro de contextos geográficos
        específicos.
<br>
<br>
Los datos individuales del alimento:
<br>
codigo: {{ alimento[0].codigo }} <br>
nombre: {{ alimento[0].nombre }} <br>
fechaVencimiento: {{ alimento[0].fechaVencimiento }} <br>
tipo: {{ alimento[0].tipo }} <br>


    </p>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d254508.51643529313!2d-74.24823739450852!3d4.648283649404979!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9bfd2da6cb29%3A0x239d635520a33914!2zQm9nb3TDoQ!5e0!3m2!1ses!2sco!4v1637334518014!5m2!1ses!2sco"
        style="" allowfullscreen="" loading="lazy" class="col-auto"></iframe>
</div>