.contenedor {
    
    width: 95%;
    /* color: rgba(30, 151, 36, 0.555); */
    margin-top: 10px;
    margin-left: 15px;
    
  }
  
  h1 {text-align: center}

  @media (max-width: 700px) {
      span{
          display: none;
      }
  }