<div class="contenedor">
    <div>
        <h1>Registro beneficiarios</h1>

        <div class="row text-end mt-2">
            <div class="col-4">
                <label for="" class="col-form-label">Nombre</label>
            </div>
            <div class="col">
                <input type="text" id="" class="form-control" aria-describedby="passwordHelpInline">
            </div>
            <div class="col">
                <span id="passwordHelpInline" class="form-text">
                 Nombre del representate
                </span>
            </div>
        </div>

        <div class="row text-end mt-2">
            <div class="col-4">
                <label for="" class="col-form-label">Número de identificación</label>
            </div>
            <div class="col">
                <input type="number" id="" class="form-control" aria-describedby="passwordHelpInline">
            </div>
            <div class="col">
                <span id="passwordHelpInline" class="form-text">
                    Identificación del representate
                </span>
            </div>
        </div>

        <div class="row text-end mt-2">
            <div class="col-4">
                <label for="inputPassword6" class="col-form-label">Número de personas a cargo</label>
            </div>
            <div class="col">
                <input type="number" id="" class="form-control" aria-describedby="passwordHelpInline">
            </div>
            <div class="col">
                <span id="passwordHelpInline" class="form-text">
                    Cuantas personas seran beneficiarios
                </span>
            </div>
        </div>

        <div class="row text-end mt-2">
            <div class="col-4">
                <label for="inputPassword6" class="col-form-label">Edad</label>
            </div>
            <div class="col">
                <input type="number" id="" class="form-control" aria-describedby="passwordHelpInline">
            </div>
            <div class="col">
                <span id="passwordHelpInline" class="form-text">
                    Edad de la persona
                </span>
            </div>
        </div>

        <div class="row text-end mt-2">
            <div class="col-4">
                <label for="inputPassword6" class="col-form-label">Por cuanto tiempo cree que necesitara ayuda</label>
            </div>
            <div class="col">
                <input type="number" id="" class="form-control" aria-describedby="passwordHelpInline">
            </div>
            <div class="col">
                <span id="passwordHelpInline" class="form-text">
                    Si neceseta la ayudas de manera temporal o permanente
                </span>
            </div>
        </div>

        <div class="row text-end mt-2">
            <div class="col-4">
                <label for="inputPassword6" class="col-form-label">Motivo de por la cual necesitan ayuda</label>
            </div>
            <div class="col">
                <input type="number" id="" class="form-control" aria-describedby="passwordHelpInline">
            </div>
            <div class="col">
                <span id="passwordHelpInline" class="form-text">
                    El caso o situación por la cual solicita la ayuda
                </span>
            </div>
        </div>

        <div class="row text-end mt-2">
            <div class="col-4">
                <label for="inputPassword6" class="col-form-label">Requerimientos nutricionales</label>
            </div>
            <div class="col">
                <input type="number" id="" class="form-control" aria-describedby="passwordHelpInline">
            </div>
            <div class="col">
                <span id="passwordHelpInline" class="form-text">
                    Requiere alguna necesidad nutricional en especial o cuales considera que necesita.
                </span>
            </div>
        </div>

       
        <div class="d-grid gap-2 col-6 mx-auto mt-3">
            <button class="btn btn-primary" type="button">Button</button>
        </div>
    </div>

</div>