<p>beneficiarios works!</p>
<div class="container">

    <div class="card-header bg-primary">
        <h5 class="card-title text-white mt-2" id="exampleModalLabel">Registro de beneficiarios</h5>
    </div>
    <br>

<form>

    <div class="form-group">
      <label>Nombre del titular</label>
      <input type="text" class="form-control" id="" placeholder="Persona que representa al grupo solicitante">
    </div>

    <div class="form-group">
        <label>Numero de documento de identificación del titular</label>
        <input type="text" class="form-control" id="" placeholder=" ">
    </div>

    <div class="form-group">
        <label>Numero de personas solicitantes</label>
        <input type="number" class="form-control" id="" placeholder=" ">
    </div>

    <div class="form-group">
        <label>Edad de cada persona solicitante</label>
        <textarea class="form-control" id="" rows="3"  
        placeholder="Escriba la edad de cada uno, en numeros, separado por comas.  La cantidad de personas y la cantidad de edades ingresadas debe coincidir."></textarea>
    </div>

    <div class="form-group">
        <label>Cantidad de tiempo que requieren la ayuda</label>
        <input type="number" class="form-control" id="" placeholder="Calculo en semanas">
    </div>

    <div class="form-group">
        <label>Motivo por el cual requieren la ayuda</label>
        <textarea class="form-control" id="" rows="3"  
        placeholder=" "></textarea>
    </div>

    <div class="form-group">
        <label>Necesidades nutricionales especiales</label>
        <textarea class="form-control" id="" rows="3"  
        placeholder="Alergias, desnutrición, intolerancias, deficiencias, enfermedades u otras circunstancias que requieren cuidado especial."></textarea>
    </div>
    <br>

    <button type= "submit" class= "btn btn-success"><i class="fas fa-file-upload"></i> Registrar</button>

   
  </form>