<h1>Info proveedores</h1>
<div class="row align-items-center">
    <img src="https://cdn.pixabay.com/photo/2019/08/05/15/09/team-4386219_960_720.png" alt=""
        class="col" alt="...">
    <div class="col-md-6 offset-md-0 cuerpo">

        <!--Tomado de wikipedia-->
        Un proveedor es una empresa o persona física que proporciona bienes o servicios a otras personas o empresas.
        Por su función existen 3 tipos de proveedores para las empresas:

        Empresa o persona física, cuya actividad busca responder las necesidades del cliente, que por su característica
        principal de servicio es intangible, es decir que no se puede tocar, pero asimismo el servicio está apoyado por
        bienes tangibles para lograr dicha actividad. Ejemplo de proveedores de servicios: Compañías telefónicas, de
        internet, transporte de mercancías y personal, servicios públicos y para estatales como luz, agua, así como
        servicios de entretenimiento, televisión, mantenimiento y otros. Es de vital importancia para las empresas
        establecer relaciones comerciales con este tipo de proveedores ya que una adecuada selección de estos,
        significará un beneficio en el funcionamiento y operación de la empresa
        <br>
        <br>
        Los datos del proveedor(es) son:
        <br>
        <div *ngFor="let p of proveedor">
            Nomnre: {{ p.nombre }}<br>
            Codigo: {{ p.codigo }}<br>
            Ubicacion: {{ p.ubicacion }}<br>
            Disponibilidad de envio: {{ p.disponibilidadEnvio }}<br>
            Abierto desde: {{ p.abiertoDesde }} hasta {{ p.abiertoHasta }}<br>
        </div>

    </div>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d254508.51643529313!2d-74.24823739450852!3d4.648283649404979!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9bfd2da6cb29%3A0x239d635520a33914!2zQm9nb3TDoQ!5e0!3m2!1ses!2sco!4v1637334518014!5m2!1ses!2sco"
        style="" allowfullscreen="" loading="lazy" class="col-auto"></iframe>
</div>