img {
  border-radius: 50%;
  max-width: 250px;
  height: 200px;
}

.cuerpo {
  text-align: justify;
  max-width: 500px;
}

iframe {
  width: 200px;
  height: 400px;
  padding: 50px;
}


@media (max-width:1100px) {
  iframe {
    display: none;
  }
}
