h1 {
  color: white;
  font-size: 10vw;
  text-shadow: 5px 3px #333;
}
.title-initial-page{
  position: absolute;
  top: 16%;
  left: 20%;
  transform: translate(-50%, -50%);
}
figure.effect-image img {
  max-width: none;
  width: -webkit-calc(100% );
  width: calc(100% );
  opacity: 1;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-30px,0,0) scale(0.95);
  transform: translate3d(-30px,0,0) scale(0.95);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
figure.effect-image:hover img {
  opacity: 0.5;
  -webkit-transform: translate3d(0,0,0) scale(1);
  transform: translate3d(0,0,0) scale(1);
}
figure.effect-image h1 {
  padding: 0 10px 0 0;
  width: 50%;
  text-align: right;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-40px,0,0);
  transform: translate3d(-40px,0,0);
}
figure.effect-image:hover h1 {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}