.cuerpo {

  /* background-image: url("/assets/imagenes/fondo1.jpg");
  background-size: cover; */

  height: 70vh;

}

h1 {
  text-align: center;
  text-shadow: 3px 3px #fff;
  color: #985145;
  font-size: 10vw;
}
