<div class="sideC">
  <div class="d-flex flex-column flex-shrink-0 bg-light" style="width: 4.5rem;" >
    <div class="container position-fixed-left">
      <button (click)="funcion_mostrar()" class="btn btn-outline">
        <i class="fas fa-angle-double-right"></i>
      </button>
    </div>
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center" *ngIf="mostrar == false">
      <li class="nav-item">
        <a class="nav-link active py-3 border-bottom" aria-current="page" title="Home" data-bs-toggle="tooltip"
          data-bs-placement="right">
          <img src="https://github.com/mdo.png" alt="mdo" width="24" height="24" class="rounded-circle">
        </a>
      </li>
      <li>
        <a href="#" class="nav-link py-3 border-bottom" title="Dashboard" data-bs-toggle="tooltip"
          data-bs-placement="right">
          <img src="https://github.com/mdo.png" alt="mdo" width="24" height="24" class="rounded-circle">
        </a>
      </li>
      <li>
        <a href="#" class="nav-link py-3 border-bottom" title="Orders" data-bs-toggle="tooltip" data-bs-placement="right">
          <img src="https://github.com/mdo.png" alt="mdo" width="24" height="24" class="rounded-circle">
        </a>
      </li>
      <li>
        <a href="#" class="nav-link py-3 border-bottom" title="Products" data-bs-toggle="tooltip"
          data-bs-placement="right">
          <img src="https://github.com/mdo.png" alt="mdo" width="24" height="24" class="rounded-circle">
        </a>
      </li>
      <li>
        <a href="#" class="nav-link py-3 border-bottom" title="Customers" data-bs-toggle="tooltip"
          data-bs-placement="right">
          <img src="https://github.com/mdo.png" alt="mdo" width="24" height="24" class="rounded-circle">
        </a>
      </li>
    </ul>
  </div>
</div>
