<div class="sideC">
  <div class="d-flex flex-column flex-shrink-0 bg-light">
    <div class="container position-fixed-left">
      <button (click)="funcion_mostrar()" class="btn btn-outline">
        <i class="fas fa-angle-double-right"></i>
      </button>
    </div>
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center" *ngIf="mostrar == false">
      <li class="nav-item">
        <a routerLink="alimentos/tarjeta" class="nav-link py-3 border-bottom" title="Info alimentos"
          data-bs-toggle="tooltip" data-bs-placement="right">
          <img src="https://cdn.pixabay.com/photo/2015/05/04/10/16/vegetables-752153_960_720.jpg" alt="mdo" width="30"
            height="30" class="rounded-circle">
        </a>
      </li>
      <li>
        <a routerLink="beneficiarios/tarjeta" class="nav-link py-3 border-bottom" title="Info beneficiarios"
          data-bs-toggle="tooltip" data-bs-placement="right">
          <img src="assets/imagenes/niños pobres.jpg" alt="mdo" width="30" height="30" class="rounded-circle">
        </a>
      </li>
      <li>
        <a routerLink="proveedores/tarjeta" class="nav-link py-3 border-bottom" title="Info proveedores"
          data-bs-toggle="tooltip" data-bs-placement="right">
          <img src="https://cdn.pixabay.com/photo/2019/08/05/15/09/team-4386219_960_720.png" alt="mdo" width="30"
            height="30" class="rounded-circle">
        </a>
      </li>

      <!-- <li>
        <a routerLink="info/donacion" class="nav-link py-3 border-bottom" title="Info donacion" data-bs-toggle="tooltip"
          data-bs-placement="right">
          <img src="https://cdn.pixabay.com/photo/2016/07/29/03/39/volunteer-1550322_960_720.jpg" alt="mdo" width="30"
            height="30" class="rounded-circle">
        </a>
      </li> -->
<!-- 
      <li>
        <a routerLink="cupones" class="nav-link py-3 border-bottom" title="Info cupones" data-bs-toggle="tooltip"
          data-bs-placement="right">
          <img src="https://cdn.pixabay.com/photo/2017/01/23/23/45/coupon-2004245__340.png" alt="mdo" width="30"
            height="30" class="rounded-circle">
        </a>
      </li>
      <li>
        <a routerLink="info/trabajo" class="nav-link py-3 border-bottom" title="Info trabajos" data-bs-toggle="tooltip"
          data-bs-placement="right">
          <img src="https://cdn.pixabay.com/photo/2016/03/31/18/24/screwdriver-1294338__340.png" alt="mdo" width="24"
            height="24" class="rounded-circle">
        </a>
      </li> --> 
    </ul>
  </div>
</div>