<footer class="footer fixed-bottom">
      <div class="container ml-4 col-5 ">
            <!-- Facebook -->
            <button type="button" class="btn btn-outline-light btn-sm btn-floating m-1"
                  href="https://es-la.facebook.com/" role="button"><span><i class="fab fa-facebook-f"></i></span>
            </button>
            <!-- Twitter -->
            <button type="button" class="btn btn-outline-light btn-sm btn-floating m-1" href="https://twitter.com/"
                  role="button"><span><i class="fab fa-twitter"></i></span>
            </button>

            <!-- Google -->
            <button type="button" class="btn btn-outline-light btn-sm btn-floating m-1"
                  href="https://www.google.com.co/" role="button"><span><i class="fab fa-google"></i></span>
            </button>

            <!-- Instagram -->
            <button type="button" class="btn btn-outline-light btn-sm btn-floating m-1"
                  href="https://www.instagram.com/" role="button"><span><i class="fab fa-instagram"></i></span>
            </button>

            <!-- Linkedin -->
            <button type="button" class="btn btn-outline-light btn-sm btn-floating m-1" href="https://www.linkedin.com/"
                  role="button"><span><i class="fab fa-linkedin-in"></i></span>
            </button>

            <!-- Github -->
            <button type="button" class="btn btn-outline-light btn-sm btn-floating m-1" href="https://github.com/"
                  role="button"><span><i class="fab fa-github"></i></span>
            </button>

            <div class=" copyright ">
                  <i class="fas fa-copyright"></i>{{ test | date: "yyyy" }} made with
                  <i class=" tim-icons icon-heart-2"> </i> by
                  <a class="text-dark">SCRUM TEAM 2 G27 MINTIC</a>
            </div>
      </div>

</footer>