.btn{
    background-color: rgb(55, 55, 55, 0.8);
    height: 30px;
    width: 30px;
}

.btn :hover{
  background-color: whitesmoke;
}

footer{
  text-align: center;
}
@media (max-width: 770px) {
    .footer {
      display: none;
    }
  }