<div class="contenedor my-5">
    <div class="align-items-center pt-5">
        <h1><img src="https://cdn-icons-png.flaticon.com/512/1250/1250743.png"
            alt="" height="40" width="40">Borrar datos del proveedor</h1>

        <div class="row justify-content-center mt-2">
            <div class="col-sm-7 col-md-5 col-lg-5 col-xl-4 text-center">
                <label class="col-form-label">Ingrese el nombre del proveedor que desea borrar</label>
            </div>
            <div class="col-sm-8 col-md-6 col-lg-6 col-xl-6">
                <input type="text" class="form-control" aria-describedby="passwordHelpInline"
                    placeholder="Ingrese el nombre aqui..." [(ngModel)]="nombre">
            </div>
        </div>
        <div class="row justify-content-center m-2">
            <div class="col-sm-3 col-md-2 col-lg-1 col-xl-1">
                <button class="btn" type="button" (click)="buscar()">Buscar</button>
            </div>
        </div>
        <div class="row justify-content-center mt-2">
            <div class="col-sm-7 col-md-5 col-lg-5 col-xl-3 text-center">
                <label class="col-form-label">Nombre del proveedor a borrar</label>
            </div>
            <div class="col-sm-8 col-md-6 col-lg-6 col-xl-6">
                <input type="text" class="form-control" aria-describedby="passwordHelpInline" disabled="disabled"
                    [(ngModel)]="nombre2">
            </div>
        </div>
        <div class="row justify-content-center mt-2">
            <div class="col-7 col-sm-6 col-md-4 col-lg-3 col-xl-3 mx-auto">
                <button class="btn btn-2" type="button">Borrar Información</button>
            </div>
        </div>
        <div *ngIf="correcto==1" class="alert alert-success 
                        animate__animated animate__bounceInLeft" role="alert">
            Proveedor borrado correctamente
        </div>
        <div *ngIf="correcto==0" class="alert alert-danger 
                        animate__animated animate__bounceInLeft" role="alert">
            No se pudo borrar el proveedor
        </div>
    </div>
</div>
<br>