<div class="container position-absolute top-50 start-50 translate-middle">
    <div>
        <h1>Borrar datos del proveedor</h1>

        <div class="row align-items-center mt-2">
            <div class="col-auto">
                <label class="col-form-label">Ingrese el nombre del proveedor</label>
            </div>
            <div class="col-auto" id="entrada">
                <input type="text" class="form-control" aria-describedby="passwordHelpInline"
                    placeholder="Ingrese el nombre aqui...">
            </div>
            <div class="d-grid col-2 m-2">
                <button class="btn btn-primary" type="button" (click)="buscar()">Buscar</button>
            </div> 
            <input type="text" id="" class="form-control mt-3" *ngIf=""
            aria-describedby="passwordHelpInline" disabled="disabled">          
        </div>

        <div class="d-grid col-5 mx-auto m-3">
                <button class="btn btn-success" type="button">Agregar Información</button>                
        </div>

        <div *ngIf="correcto==1" class="alert alert-success 
                        animate__animated animate__bounceInLeft" role="alert">
                Usuario actualizado correctamente
            </div>
            <div *ngIf="correcto==0" class="alert alert-danger 
                        animate__animated animate__bounceInLeft" role="alert">
                No se pudo actualizar el usuario
            </div>
    </div>
</div>
