<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" routerLink="home">
            <img src="https://cdn-icons-png.flaticon.com/512/263/263115.png"
                alt="" height="20" width="20"> Inicio</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="grid-4 position-absolute top-50 start-50 translate-middle">
            <form class="d-flex">
                <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
                <!-- <button class="btn btn-outline-primary" type="submit">Buscar</button> -->
            </form>
        </div>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link b-3 " routerLink="buscar">
                        <img src="https://cdn-icons-png.flaticon.com/512/6244/6244198.png" alt="" height="25"
                            width="25"> Buscar</a></li>

                <li class="nav-item dropdown" onclick="submit()">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <img src="https://cdn-icons-png.flaticon.com/512/2871/2871441.png" alt="" height="25"
                            width="25">
                        Proveedores
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="proveedores/agregar">Inscribirse</a></li>
                        <li><a class="dropdown-item" routerLink="proveedores/actualizar">Actualizar datos</a></li>
                        <li><a class="dropdown-item" routerLink="proveedores/eliminar">Borrar datos</a></li>
                    </ul>
                </li>

                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Alimentos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="alimentos/leer">Listado de alimentos</a></li>
                    </ul>
                </li> -->

                <li class="nav-item dropdown" onclick="submit()">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://cdn-icons-png.flaticon.com/512/4441/4441664.png" alt="" height="25"
                            width="25">
                        Beneficiarios
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="beneficiario">Inscribirse</a></li>
                    </ul>
                </li>

                <li class="nav-item"><a class="nav-link b-3" routerLink="cupones">
                        <img src="https://cdn-icons-png.flaticon.com/512/3126/3126552.png" alt="" height="25"
                            width="25">
                        Cupones</a>
                </li>
                <li class="nav-item"><a class="nav-link b-3" routerLink="trabajos">
                    <img src="https://cdn-icons-png.flaticon.com/512/2593/2593066.png" alt="" height="25"
                            width="25">Trabajos</a></li>

                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Cupones
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="cupones">Listado de cupones</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Ofertas laborales
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="trabajos">Listado de vacantes</a></li>
                    </ul>
                </li> -->
            </ul>
        </div>
    </div>
</nav>