.contenedor {
    
  width: 90%;
  /* color: rgba(30, 151, 36, 0.555); */  
}

.btn{
  background-color: darkviolet;
  opacity: 0.8;
  color: antiquewhite;
}

h1 {text-align: center}

@media (max-width: 700px) {
    span{
        display: none;
    }
}