<div class="contenedor my-5">
    <div class="align-items-center pt-5">            
        <h1><img src="https://cdn-icons-png.flaticon.com/512/3456/3456420.png"
            alt="" height="40" width="40">Registros de proveedor</h1>

        <div class="row justify-content-center mt-2">
            <div class="col-sm-7 col-md-5 col-lg-5 col-xl-3 text-center">
                <label class="col-form-label">Ingerese el nombre del proveedor</label>
            </div>
            <div class="col-sm-8 col-md-6 col-lg-6 col-xl-6">
                <input type="text" class="form-control" aria-describedby="passwordHelpInline"
                    placeholder="Ingrese el nombre aqui..." [(ngModel)]="nombre">
            </div>
        </div>

        <div class="row justify-content-center mt-2 ">
            <div class="col-12 col-sm-12 col-md-5 col-lg-3 col-xl-auto text-center">
                <label for="" class="col-form-label">Horario de disponibilidad</label>
            </div>

            <div class="col-3 col-sm-1 col-md-1 col-lg-1 col-xl-auto">
                <label for="" class="col-form-label">Desde</label>
            </div>
            <div class="col-8 col-sm-5 col-md-5 col-lg-3 col-xl-auto">
                <input type="datetime-local" id="" class="form-control" aria-describedby="passwordHelpInline"
                    [(ngModel)]="desde">
            </div>
            <div class="col-3 col-sm-1 col-md-2 col-lg-1 col-xl-auto">
                <label for="" class="col-form-label">Hasta</label>
            </div>
            <div class="col-8 col-sm-5 col-md-5 col-lg-3 col-xl-auto">
                <input type="datetime-local" id="" class="form-control" aria-describedby="passwordHelpInline"
                    [(ngModel)]="hasta">
            </div>
        </div>

        <div class="row justify-content-center mt-2">
            <div class="col-12 col-sm-12 col-md-8 col-lg-5 col-xl-auto text-center">
                <label class="col-form-label label" for="inputGroupSelect01">Posibilidad de envio </label>
                <select [(ngModel)]="opcionSelect" (change)="capturar()">
                    <option value="0">Seleccione una opción</option>
                    <option value="1">Si</option>
                    <option value="2">No</option>
                </select>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-7 col-xl-auto text-center">
                <label class="col-form-label label" for="inputGroupSelect01">Seleccione como ingresar su dirección </label>
                <select [(ngModel)]="opcionSelect2" (change)="capturar2()">
                    <option value="0">Seleccione una opción</option>
                    <option value="1">Escribir la dirección</option>
                    <option value="2">Por geolocalización</option>
                </select>
            </div>
        </div>

        <div class="row justify-content-center" *ngIf="mostrar2 === 2">
            <div class="col-sm-10 col-md-8 col-lg-5 col-xl-auto">
                <iframe [(ngModel)]="mapa"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d254508.39280650613!2d-74.24789655790045!3d4.64862594373708!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9bfd2da6cb29%3A0x239d635520a33914!2zQm9nb3TDoQ!5e0!3m2!1ses!2sco!4v1637246431410!5m2!1ses!2sco"
                    width="500" height="400" style="border:0;" loading="lazy" class="mx-auto d-block">
                </iframe>
            </div>
        </div>
        <div class="row justify-content-center mt-2" *ngIf="mostrar2 === 1">
            <div class="col-sm-7 col-md-3 col-lg-3 col-xl-auto">
                <label for="" class="col-form-label">Ingrese la dirección</label>
            </div>
            <div class="col-sm-8 col-md-7 col-lg-7 col-xl-auto">
                <input type="text" id="entrada" class="form-control" aria-describedby="passwordHelpInline"
                    placeholder="Ingrese su dirección" [(ngModel)]="direccion">
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="d-grid col-9 col-sm-6 col-md-4 col-lg-3 col-xl-3 mx-auto">
                <button class="btn" type="button" (click)="crearProv()">Agregar Información</button>
            </div>
        </div>
    </div>
</div>