<div class="contenedor position-absolute top-50 start-50 translate-middle">
    <div>
        <h1>Agregar datos del proveedor</h1>

        <div class="row mt-4 ml-2">
            <div class="col-auto">
                <label for="" class="col-form-label">Nombre del proveedor</label>
            </div>
            <div class="col-auto">
                <input type="text" id="" class="form-control"
                    aria-describedby="passwordHelpInline" placeholder="Ingrese el nombre aqui...">
            </div>
        </div>

        <div class="row align-items-center m-2">
            <div class="col-3">
                <label for="inputPassword6" class="col-form-label">Posibilidad de envio</label>
            </div>
            <div class="col-auto">
                <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                <div class="col-auto">
                <label class="input-group-text">Si</label>
                </div>
                </div>
                
                <input class="form-check-input mt-0" type="checkbox" value="" class="form-control" aria-describedby="passwordHelpInline">
                <span class="input-group-text">No</span>
            
        </div>
        </div>

        <div class="row align-items-center m-3">
            <div class="col-auto">
                <label for="" class="col-form-label">Horario de disponibilidad</label>
            </div>
            <div class="col-auto">
                <input type="datetime-local" id="" class="form-control" aria-describedby="passwordHelpInline">
            </div>
        </div>

        <div class="row m-2 align-items-center tipoubicacion">
            <div class="col-3">
                <label for="" class="col-form-label">Ubicación</label>
            </div>
            <div class="col-2">
                <select class="form-select" for="inputGroupSelect01" name="option">
                    <option selected>Choose...</option>
                    <option value="1">Escribir dirección</option>
                    <option value="2">Ubicación por Google Maps</option>
                </select>
            </div>
        </div>
        
        <!--<<iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d254508.39280650613!2d-74.24789655790045!3d4.64862594373708!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9bfd2da6cb29%3A0x239d635520a33914!2zQm9nb3TDoQ!5e0!3m2!1ses!2sco!4v1637246431410!5m2!1ses!2sco"
            width="300" height="225" style="border:0;" allowfullscreen="" loading="lazy" class="position-relative">
        </iframe>
        <div class="row g-3 align-items-center m-3">
            <div class="col-auto">
                <label for="" class="col-form-label">Ingrese la dirección</label>
            </div>
            <div class="col-6">
                <input type="text" id="" class="form-control" aria-describedby="passwordHelpInline"
                placeholder="Ingrese su dirección">
            </div>
        </div>
    -->
        <div class="col-4 mx-auto m-3">
            <button class="btn btn-primary button_insertar" type="button">Agregar Información</button>
        </div>
    </div>
</div>