<div class="row ">
    <div class="col-auto puntero" (click)="verInfo(a)" *ngFor="let a of benefi">
        <div class="card mt-2" style="width: 18rem;">
            <img src="assets/imagenes/foto-perfil-generica.jpg" class="img-fluid" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ a.nombre }}</h5>
                <p class="card-text">{{ a.usoEstimado }}</p>
                <a routerLink="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

</div>